<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwhalecloud.retail.offer.mapper.DomainMapper">

    <select id="select" resultType="com.iwhalecloud.retail.offer.entity.Domain">
        select table_name, column_name, value, lookup_name, comments
        from tbl_domain
        where state = 'A'
        <if test="request.tableName != null and request.tableName != ''">
            and table_name = #{request.tableName}
        </if>
        <if test="request.columnName != null and request.columnName != ''">
            and column_name = #{request.columnName}
        </if>
        <if test="request.value != null and request.value != ''">
            and value = #{request.value}
        </if>
        <if test="request.lookupName != null and request.lookupName != ''">
            and lookup_name = #{request.lookupName}
        </if>
        <if test="request.comments != null and request.comments != ''">
            and comments = #{request.comments}
        </if>
        
    </select>

</mapper>