<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.GoodsPriceMapper">

    <sql id="goods_price_column">
        a.goods_price_id,a.goods_id,a.expression,a.price,a.eff_date,a.exp_date,a.priority,a.state,a.state_date,
        a.create_by,a.create_time,a.modify_by,a.modify_time,a.tenant_id
    </sql>


    <select id="qryGoodsPriceList" resultType="com.iwhalecloud.retail.offer.entity.GoodsPrice">
        select
        <include refid="goods_price_column"/>
        from tbl_goods_price a
        where 1 = 1
        and a.goods_id = #{goodsId}
        and a.state = 'A'
        order by a.priority
    </select>
</mapper>