<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.OperLogMapper">

    <insert id="batchInsertOperLog" parameterType="java.util.List">
        insert into tbl_oper_log(oper_log_id,privilege_id,user_id,create_date,oper_info,oper_event,oper_type,ref_obj_id,ip_addr,create_by,create_time,modify_by,modify_time,state) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.operLogId},#{item.privilegeId},#{item.userId},now(),
            #{item.operInfo},#{item.operEvent},#{item.operType},#{item.refObjId},
            #{item.ipAddr},#{item.createBy},#{item.createTime},#{item.modifyBy},#{modifyTime},#{item.state})
        </foreach>
    </insert>

</mapper>