<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.OperDetailMapper">

    <insert id="batchInsertOperDetail" parameterType="java.util.List">
        insert into tbl_oper_detail(oper_detail_id,oper_log_id,table_name,column_name,pk_id,old_value,new_value,create_by,create_time,modify_by,modify_time,state) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.operDetailId},#{item.operLogId},#{item.tableName},#{item.columnName},
            #{item.pkId},#{item.oldValue},#{item.newValue},#{item.createBy},#{item.createTime},#{item.modifyBy},#{item.modifyTime},#{item.state})
        </foreach>
    </insert>

</mapper>