<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwhalecloud.retail.offer.mapper.ProdGoodsRelMapper">

    <select id="listProdGoodsRelByProdGoodsId" resultType="com.iwhalecloud.retail.offer.dto.resp.ProdGoodsRelResp">
        select pgr.*, pgrt.rel_type_name, pg.*
          from tbl_prod_goods_rel pgr
          join tbl_prod_goods_rel_type pgrt on pgrt.rel_type = pgr.rel_type
          join tbl_prod_goods pg on pg.goods_id = pgr.z_goods_id
         where pgr.state = 'A'
         and pgrt.state = 'A'
         and pgr.a_goods_id = #{goodsId}
      order by pgr.rel_id
    </select>
    
    <select id="qryExistRel" resultType="com.iwhalecloud.retail.offer.entity.ProdGoodsRel">
        select * from tbl_prod_goods_rel
        where state = 'A'
        and rel_type = #{relType}
        and (
                ( 
                    a_goods_id in
                    <foreach collection="goodsList" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                    and z_goods_id = #{id}
                )
                OR 
                (
                    a_goods_id = #{id}
                    and z_goods_id in
                    <foreach collection="goodsList" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                ) 
            )
    </select>
    
    <insert id="createProdGoodsRel" parameterType="java.util.List">
        insert into tbl_prod_goods_rel
        (rel_id, a_goods_id,rel_type,z_goods_id,state,create_by,create_time,modify_by,modify_time)
        values
        <foreach collection="goodsRelList" item="item" index="index" separator=",">
            (
                #{item.relId}, #{item.aGoodsId}, #{item.relType}, #{item.zGoodsId},#{item.state},#{item.createBy},#{item.createTime},
                #{item.modifyBy},#{item.modifyTime}
            )
        </foreach>
    </insert>
    
    <update id="delProdGoodsRel" parameterType="java.util.List">
        update tbl_prod_goods_rel
        set state = 'X', modify_time = now(), modify_by = #{modifyBy}
        where rel_id in
        <foreach collection="goodsRelList"  item="item" open="("
            separator="," close=")">
            #{item.relId}
        </foreach>
    </update>

    <update id="delProdGoodsRelByAGoodsId">
        update tbl_prod_goods_rel
        set state = 'X', modify_time = now(), modify_by = #{modifyBy}
        where a_goods_id = #{aGoodsId}
    </update>

    <update id="delProdGoodsRelByAGoodsIdAndType">
        update tbl_prod_goods_rel
        set state = 'X', modify_time = now(), modify_by = #{modifyBy}
        where a_goods_id = #{aGoodsId}
        and rel_type = #{relType}
    </update>

    <select id="qryExcludeProdGoods" resultType="com.iwhalecloud.retail.offer.entity.ProdGoods">
        select * 
        from tbl_prod_goods
        where goods_id in
        (
            select z_goods_id 
            from tbl_prod_goods_rel
            where state = 'A'
            and a_goods_id = #{goodsRel.agoodsId}
            and rel_type = #{goodsRel.relType}
        )
        
    </select>
    
</mapper>