<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.ProdGoodsCatRelaMapper">


    <select id="qrySaleCatgRelaMgnCatg" resultType="com.iwhalecloud.retail.offer.entity.ProdGoodsCat">
        select b.* from tbl_prod_goods_cat_rela a join tbl_prod_goods_cat b on a.manage_cat_id = b.cat_id
        where 1 = 1
        and a.state = 'A'
        and b.state = 'A'
        <if test="catId != null and catId != ''">
            and a.sale_cat_id = #{catId}
        </if>
    </select>

    <select id="qryManagementCatgRelaByMgnId" resultType="com.iwhalecloud.retail.offer.entity.ProdGoodsCatRela">
        select *
          from tbl_prod_goods_cat_rela
         where state = 'A'
         and manage_cat_id = #{manageCatId}
    </select>

    <select id="qryProdGoodsRela" resultType="com.iwhalecloud.retail.offer.entity.ProdGoodsCatRela">
        select * from tbl_prod_goods_cat_rela
        where 1 = 1
        and state = 'A'
        <if test="catId != null and catId != ''">
            and sale_cat_id = #{catId}
        </if>
    </select>

    <update id="deleteProdGoodsRelaByCatId">
        update tbl_prod_goods_cat_rela
        set state = 'X', modify_time = now(), modify_by = #{modifyBy}
        where sale_cat_id = #{catId}
    </update>

</mapper>