<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.SpuGoodsMapper">


    <select id="pageSpuRelGoods" resultType="com.iwhalecloud.retail.offer.dto.resp.PageSpuRelGoodsResp">
        select pg.goods_id, pg.name, pgt.type_name as typeName, pgc.name as catName, pg.stock_qty, pg.price
          from tbl_prod_goods pg
          join tbl_prod_goods_type pgt on pgt.type_id = pg.type_id
          join tbl_prod_goods_cat_mem pgcm on pgcm.goods_id = pg.goods_id
          join tbl_prod_goods_cat pgc on pgc.cat_id = pgcm.cat_id
         where pg.state = 'C'
           and pg.turn_on_sku = 'Y'
           and pgc.cat_type = 'S'
           and pgt.state = 'A'
           and pg.goods_id not in (select goods_id from tbl_spu_goods where state = 'A')
        <if test="req.name != null and req.name != ''">
           and lower(pg.name) like lower(concat(concat('%', #{req.name}), '%'))
        </if>
         order by pg.create_time desc
    </select>


    <select id="pageSpuGoods" resultType="com.iwhalecloud.retail.offer.dto.resp.PageSpuGoodsResp">
        select tsg.sku_id, tsg.spu_id, tsg.goods_id, tsg.rule, pg.name as goodsName
          from tbl_spu_goods tsg
          join tbl_prod_goods pg on pg.goods_id = tsg.goods_id
         where tsg.state = 'A'
           and tsg.spu_id = #{req.spuId}
         order by tsg.modify_time desc
    </select>


    <select id="qrySpuGoodsByGoodsId" resultType="com.iwhalecloud.retail.offer.dto.resp.SpuGoodsResp">
        select *
          from tbl_spu_goods
         where state = 'A'
           and goods_id = #{goodsId}
         order by create_time desc
    </select>


    <select id="listSpuGoodsBySpuId" resultType="com.iwhalecloud.retail.offer.dto.resp.SpuGoodsResp">
        select *
          from tbl_spu_goods
         where state = 'A'
           and spu_id = #{spuId}
         order by create_time desc
    </select>


    <select id="querySpuGoodsGoodsIdBySpuId" resultType="java.lang.String">
        select goods_id
          from tbl_spu_goods
         where state = 'A'
           and spu_id = #{spuId}
         limit 1
    </select>


    <select id="countSpuGoodsBySpuId" resultType="java.lang.Integer">
        select count(*)
          from tbl_spu_goods
         where state = 'A'
           and spu_id = #{spuId}
    </select>

</mapper>