<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.StoreRuleInstMapper">


    <select id="listStoreRuleInstByStoreId" resultType="com.iwhalecloud.retail.offer.dto.resp.QueryStoreRuleInstResp">
        select tsri.*, tsr.name, tsr.comments
          from tbl_store_rule_inst tsri
          join tbl_store ts on ts.store_id = tsri.store_id
          join tbl_store_rule tsr on tsr.rule_id = tsri.rule_id
         where tsri.state = 'A'
         and tsr.state = 'A'
         and tsri.store_id = #{storeId}
    </select>

    <select id="queryIdByStoreId" resultType="java.lang.String">
        select rule_inst_id
          from tbl_store_rule_inst
         where state = 'A'
         and store_id = #{storeId}
    </select>

    <update id="deleteStoreRuleInstByIds" parameterType="java.lang.String">
        update tbl_store_rule_inst
        set state = 'X', modify_time = now(), modify_by = #{modifyBy}
        where rule_inst_id in
        <foreach collection="ruleInstIds" item="item" index="index" open="(" close=")" separator=",">
             #{item}
        </foreach>
    </update>

</mapper>