<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.SystemParamMapper">

    <select id="selectSystemParamByMask" resultType="com.iwhalecloud.retail.offer.entity.SystemParam">
        select *
          from tbl_system_param
         where mask = #{mask}
         and state = 'A'
    </select>
</mapper>