<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iwhalecloud.retail.offer.mapper.TblStoreCatgMapper">


    <select id="qryStoreCatgOfPage" resultType="com.iwhalecloud.retail.offer.dto.resp.TblStoreCatgResp">
        select *
          from tbl_store_catg t
         where 1 = 1
            and t.state = 'A'
        <if test="req.catId != null and req.catId != ''" >
            and t.cat_Id = #{req.catId}
        </if>
        <if test="req.storeId != null and req.storeId != ''" >
            and t.store_id = #{req.storeId}
        </if>
        <if test="req.name != null and req.name != ''">
            and lower(t.name) like lower(concat(concat('%', #{req.name }), '%'))
        </if>
        order by t.cat_order

    </select>

    <select id="qryChildNode" resultType="com.iwhalecloud.retail.offer.entity.TblStoreCatg">
        select *
          from tbl_store_catg t
         where t.state = 'A'
         and t.parent_id = #{catId}
    </select>

    <select id="qryEffectiveGoodsBycatId" resultType="com.iwhalecloud.retail.offer.entity.ProdGoods">
        select p.*
          from tbl_store_catg_mem t
          join tbl_prod_goods p on t.goods_id = p.goods_id
         where t.cat_id = #{catId}
    </select>

    <select id="queryStoreCatByGoodsId" resultType="com.iwhalecloud.retail.offer.entity.TblStoreCatg">
        select p.*
          from tbl_store_catg_mem t
          join tbl_store_catg p on t.cat_id = p.cat_id
         where t.state = 'A'
         and p.state = 'A'
         and t.goods_id = #{goodsId}
    </select>

    <select id="queryGoodsIdByStoreCatgId" resultType="java.lang.String">
        select tscm.goods_id
          from tbl_store_catg tsc
          join tbl_store_catg_mem tscm on tscm.cat_id = tsc.cat_id
         where tsc.state = 'A'
         and tscm.state = 'A'
         and tsc.cat_id = #{catId}
    </select>

    <update id="deleteStoreCatgById">
        update tbl_store_catg
        set state = 'X', modify_time = now(), modify_by = #{modifyBy}
        where cat_id = #{catId}
        and state = 'A'
    </update>

    <update id="updateSyncStateByCatId">
        update tbl_store_catg
        set syncState = #{syncState}
        where cat_id = #{catId}
        and state = 'A'
    </update>

</mapper>